extends layout

block content
	h1 My Orders

	ul.nav.nav-pills#statuses
		li
			a.unpaid(href='#') Unpaid
				span.badge.pull-right 23
		li
			a.paid(href='#') Paid
				span.badge.pull-right 15
		li
			a.shipped(href='#') Shipped
				span.badge.pull-right 28
		li.active
			a.all-orders(href='#') All
				span.badge.pull-right 40	
		li
			a.dropdown.toggle(href='#' data-toggle='dropdown') Actions
				span.caret
			ul.dropdown-menu
				li
					a(href="#") Mark as Paid
				li
					a(href="#") Mark as Shipped
				li
					a(href="#") Mark as Cancelled
				li.divider
				li
					a(href="#") Mark as Paid and Shipped


	if (typeof(orders[0]) == 'undefined')
		table.table.table-striped.table-bordered.table-hover
			tr
				td
					em  You don't have any orders yet!
	else 
		table.table.table-striped#orders
				thead
					tr
						th Date
						th Order Number
						th Buyer
						th Payment Status
						th Shipping Status
						th Total
				tbody
				each order in orders
					tr(data-financial-status=order.financial_status data-ship-status=order.fulfillment_status)
						td #{moment(order.created_at).format('llll')}
						td
							a(href="##{order.id}", target="blank")= order.name
						td= order.billing_address.name
						td
							if ( order.financial_status  == 'paid' )
								span.label.label-success Paid-#{order.gateway}
							else if (order.financial_status  == 'pending')
								span.label.label-warning Pending-#{order.gateway}
							else
								span.label.label-important = other financial status
						td
							if (!order.fulfillment_status)
								span.label.label-warning Not Fulfilled
							else 
								span.label.label-success Fulfilled
						td #{order.total_price} #{order.currency}






